<nav>
	<div class="nav-wrapper green darken-1">
		<a href="#" class="brand-logo"><i class="fa fa-leaf"></i>Plant status</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li *ngIf="!(af.auth | async)"><a [routerLink]="['']">Home</a></li>
			<li *ngIf="af.auth | async"><a [routerLink]="['dashboard']">Dashboard</a></li>
			<li><a [routerLink]="['about']">About</a></li>
			<li *ngIf="!(af.auth | async)"><a (click)="login()">Login</a></li>
			<li *ngIf="af.auth | async"><a (click)="logout()">Logout</a></li>
		</ul>
	</div>
</nav>
<header>
</header>
<main>
	<div class="container">
		<router-outlet></router-outlet>
	</div>
</main>
<footer class="page-footer green darken-1">
	<div class="container">
		<p class="grey-text text-lighten-4">Version 0.0.1</p>
	</div>
</footer>
