// // styles applied on :host are applied on the current component, "app" in this case
:host {
	display: block;
	// background-color: #fcfcfc;
	height: 100vh;
}

.brand-logo {
	margin-left: 15px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}
// main {
// 	width: 100%;
// 	height: 100%;
// }